version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/models:/app/models
      - ./backend/data:/app/data
    environment:
      - PYTHONUNBUFFERED=1
    networks:
      - cough-analysis-network

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - cough-analysis-network
    environment:
      - REACT_APP_API_URL=http://localhost:8000/api

networks:
  cough-analysis-network:
    driver: bridge